@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    background: #727d92; /* Однотонний лаймовий фон */
    background: -webkit-linear-gradient(to right, #37445f, #727d92); /* Градієнт від світло-зеленого до темно-зеленого для WebKit */
    background: linear-gradient(to right, #37445f, #727d92); /* Градієнт від світло-зеленого до темно-зеленого */
    min-height: 100vh;
  }
}